<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {% if title %}
     <title>Caleb's Library - {{ title }}</title>
    {% else %}
      <title>Caleb's Library</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
        <ul>
          <li><a class="nav-item nav-link" href="/">Home</a></li>
          <li><a class="nav-item nav-link" href="/lib">Library</a></li>
          <li><a class="nav-item nav-link" href="/insert">Insert Book</a></li>
          <li><a class="nav-item nav-link" href="/borrowedbooks">Borrowed Books</a></li>
          </ul>   
    </header>
    <br><br>
    <h2 style="font-size: 30px;">Books currently being borrowed</h2>
    <table> 
      <tr>
        <th>----Title----</th><th>----Author----</th><th>----Borrower----</th>
      </tr>
      {% for lended in lended %}
      <tr>
       <td>{{ lended['title']}}</td>
       <td>{{ lended['author']}}</td>
       <td>{{ lended['borrower']}}</td>
      </tr> 
      {% endfor %}
    </table>
</body>>